@media ( max-width: 1200px  )
    .container
        max-width: 960px
@media ( max-width:992px )
    .container
        max-width: 700px
@media ( max-width:767px )
    .container
        max-width: 576px
    .search
        &-input
            max-width: 150px

@media ( max-width: 576px )
    .container
        max-width: 480px
    .header
        &-image
            width: 20px
            height: 20px
        &-name
            font-size: 18px
        &-button
            font-size: 14px
            padding: 5px 10px
    .search
        &-input
            max-width: 100px
@media ( max-width:380px )
    .container
        max-width: 310px
    .search
        &-input
            width: 100px
