.films
    padding-bottom: 72px
    &-wrapper
        display: flex
        justify-content: space-between
    &-title
        font-weight: 500
        font-size: 24px
        line-height: 28px
        padding: 0
        margin-bottom: 15px
        margin-top: 15px
.news
    margin-bottom: 32px
    &-item
        width: 280px
        cursor: pointer

    &-image
        width: 280px
        max-height: 380px

    &-title
        font-weight: normal
        font-size: 20px
        line-height: 24px
        text-decoration: none
        color: inherit
        &:hover
            color: $primary
    &-wrapper
        width: 280px
        max-height: 380px
        position: relative
        border-radius: 8px
        overflow: hidden
        margin-bottom: 8px
        &:hover
            .news-about
                display: block

    &-about
        position: absolute
        padding: 16px
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: #333333
        opacity: 0.8
        color: $secondary
        display: none
        font-weight: normal
        font-size: 16px
        line-height: 140%

.categories
    &-wrapper
        display: flex
        justify-content: space-between
    &-item
        width: 280px
        height: 208px
        cursor: pointer
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        &-image
            width: 40px
            z-index: 2
            padding-top: 85px
            padding-bottom: 32px
    &-image
        position: absolute
        z-index: 1
    &-title
        z-index: 2
        text-decoration: none
        color: $background-color
        font-weight: normal
        font-size: 20px
        line-height: 24px
        &:hover
            color: $primary
